.body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #161617;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  
  *{
    box-sizing: border-box;
  }
  .block {
    background-color: #ddd;
    border: solid 1px #aaa;
    padding: 20px;
    text-align: center;
    height: 100%;
  }
  .header {
    min-height: 67px;  /* Высысота */
    margin-top: 50px;
    margin-bottom: 211px; /* Отступ снизу */
  }
  .promo {
    min-height: 844px;  /* Высысота */
    margin-bottom: 89px; /* Отступ снизу */ 
  }
  .cardOne {
    min-height: 400px;  /* Высысота */
    margin-bottom: 32px; /* Отступ снизу */ 
  }
  .cardTwo {
    min-height: 400px;  /* Высысота */
    margin-bottom: 117px; /* Отступ снизу */ 
  }
  .pricing {
    min-height: 61px;  /* Высысота */
    margin-bottom: 100px; /* Отступ снизу */ 
  }
  .pricingCard {
    min-height: 570px;  /* Высысота */
    margin-bottom: 186px; /* Отступ снизу */ 
  }
  .footer{
    min-height: 529px;  /* Высысота */
  }
  .footerContactText{
    min-height: 148px;  /* Высысота */
    margin-bottom: 38px; /* Отступ снизу */   
  }
  .footerContact{
    min-height: 159px;  /* Высысота */
  }
  .navbar .navbar-toggler-icon {
    opacity: 1;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(22, 22, 23)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
    }
  
  @media only screen and (max-width: 1024px) {
    .navbar .navbar-toggler-icon {
      opacity: 1;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
      }
  }
  

.table {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #121214;


}
.text-table {
  font-family: Raleway;
  font-size: 16px;
  margin-bottom: 0;
  color: #FFF;
}
.text-table-price {
  font-family: Raleway-Bold;
  font-size: 25px;
  margin-bottom: 0;
  color: #ff476a;
  
}
.gb-block-image{
  width:  35px;
  vertical-align: middle;
  margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
  .text-table {
    font-family: Raleway;
    font-size: 15px;
    margin-bottom: 0;
    color: #FFF;
  }
  .text-table-price {
    font-family: Raleway-Bold;
    font-size: 15px;
    margin-bottom: 0;
    color: #ff476a;
    
  }
  .gb-block-image{
  display: none;
  }
}

/* header */

.navbarPhone{
  left: 0px;
}
.purple {
  background-color: #161617;
  border: none; 
  outline: none;
}


.headerTextNav{

flex-shrink: 0;


text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* margin-left: 25px */
}
.headerTextNavButton{
  color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 49px;

border: 1.5px solid #AD00FF;
background: rgba(143, 0, 255, 0.46);

margin-left: 229px
}
.navNone {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .navNone {
    display: block;
  }
  .navbarPhone{
    margin-left: -100px;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .headerTextNavButton{
    /* color: #FFF;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 49px;
  
  border: none;
  background: none;
  
  margin-left: 35px */

  display: none;
  
  }
  .purple {
    /* background-color: #161617;
    border: none; 
    outline: none;
    margin-left: -100px; */
    
    /* display: none; */
  }
  .navbar-toggler {
    /* display: none; */
  }
}

/* main */
.fonsGroup{
  background: no-repeat;
  background-image: url('img/Group\ 49.png') ;
  background-size: contain;
  margin-left: -20px;
}

.CardImg {
  width: 100%;
}


.CardOne{

  background-image: url("./img/Group\ 42.png");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin-left: 50px;
  margin-top: 50px;
}
.CardTwo{

  background-image: url("./img/Group\ 39.png");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.CardThree{

  background-image: url("./img/Group\ 40.png");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.CardFour{

  background-image: url("./img/Group\ 41.png");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.textCardOneP {
  position: absolute;
  color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 140px;
}

.textCardOneH {
  position: absolute;
  color: rgba(255, 255, 255, 0.90);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 140px;
}


.textCardTwoP {
  position: absolute;
  color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 80px;
}

.textCardTwoH {
  position: absolute;
  color: rgba(255, 255, 255, 0.90);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 80px;
}

.textCardThreeP {
  position: absolute;
  color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 80px;
}

.textCardThreeH {
  position: absolute;
  color: rgba(255, 255, 255, 0.90);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 80px;
}

.textCardFourP {
  position: absolute;
  color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */
margin-top: 100px;
margin-left: 80px;
}

.textCardFourH {
  position: absolute;
  color: rgba(255, 255, 255, 0.90);
  font-family: Raleway;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 20.927px */
margin-top: 145px;
margin-left: 80px;
}



.mainPromoText{

  text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 60.83px */

background: linear-gradient(91deg, #B5FEEF 10.31%, #2EECC5 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.poragrafPromoText{
  margin-top: 26px;
  color: rgba(255, 255, 255, 0.65);
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.poragrafPromoTextTry{
  margin-top: 26px;
  color: rgba(255, 255, 255, 0.65);
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.mainTextOne{
  font-family: Raleway-Bold;
font-size: 45px;
font-style: normal;
font-weight: 500;
line-height: normal;

background: linear-gradient(91deg, #FFF 10.31%, #FFF 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.mainTextTwo{
  font-family: Raleway-Bold;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
  background: linear-gradient(91deg, #FF00E5 10.31%, #DB00FF 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.youtubeVideo{
  width: 560px;
  height: 315px;
  margin-left: 500px;
  margin-top: -200px;
  margin-bottom: 70px;
}

.youtubeVideoMain{
  width: 340px;
  height: 180px;
  margin-top: 50px;
  margin-left: 0px;
  margin-bottom: 30px;

}
.youtube{
  width: 200px;
  height: 200px;
}
.tryButton{
  color: #ffffff;
  background-image: linear-gradient(0.556turn, rgba(138, 33, 215, 1) 0%, rgba(64, 46, 140, 1) 100%);
  


  width: 200px;
height: 52px;
border-radius: 41px;
border: none;
box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.05);

font-family: Raleway;
font-size: 17px;

}
.text-info-main {
  
  position: absolute;
  color: #FFF;
font-family: Raleway-Bold;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: 123.1%; /* 32.006px */

}
@media only screen and (max-width: 1024px) {
  .mainTextOne{
      font-family: Raleway-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 300px;
  background: linear-gradient(91deg, #FFF 10.31%, #FFF 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -220px;
  }
  .mainTextTwo{
      font-family: Raleway-Bold;
      font-size: 27px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      
      background: linear-gradient(91deg, #FF00E5 10.31%, #DB00FF 165.09%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .youtubeVideo{
      width: 340px;
      height: 180px;
      margin-top: 50px;
      margin-left: 0px;

  }

  .youtubeVideoMain{
    width: 340px;
    height: 180px;
    margin-top: 50px;
    margin-left: 0px;
    margin-bottom: 10px;

}
  .fonsGroup{
      display: none;
  }
  .Line{
      display: none
      ;
  }
  .mainPromoText{
      text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 60.83px */
text-align: center;
background: linear-gradient(91deg, #B5FEEF 10.31%, #2EECC5 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
margin-top: -580px;
  }
  .poragrafPromoText{
  }
  .CardOne{

      background-image: url("./img/Group\ 42.png");
      background-size: no-repeat;
      background-position: center;
      background-size: cover;
      height: 379px;
      width: 379px;
      margin-left: -35px;
      margin-top: -875px;
      display: none;
  }

  .CardTwo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  
      background-image: url("./img/Group\ 39.png");
      background-size: no-repeat;
      background-position: center;
      background-size: cover;
      height: 279px;
      width: 279px;
      margin-top: -650px;
  }
  .CardThree{
    position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

      background-image: url("./img/Group\ 40.png");
      background-size: no-repeat;
      background-position: center;
      background-size: cover;
      height: 279px;
      width: 279px;
      margin-top: -400px;
  }
  
  .CardFour{
    position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

      background-image: url("./img/Group\ 41.png");
      background-size: no-repeat;
      background-position: center;
      background-size: cover;
      height: 279px;
      width: 279px;
      margin-top: -150px;
  }
  
  .textCardOneP {
      position: absolute;
      color: #FFF;
  font-family: Raleway-Bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 32.006px */
  margin-top: 105px;
  margin-left: 100px;
  }
  
  .textCardOneH {
      position: absolute;
      color: rgba(255, 255, 255, 0.90);
      font-family: Raleway;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 123.1%; /* 20.927px */
  margin-top: 145px;
  margin-left: 100px;
  width: 250px;
  }
  
  
  .textCardTwoP {
      position: absolute;
      color: #FFF;
  font-family: Raleway-Bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 32.006px */
  margin-top: 65px;
  margin-left: 60px;
  }
  
  .textCardTwoH {
      position: absolute;
      color: rgba(255, 255, 255, 0.90);
      font-family: Raleway;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 123.1%; /* 20.927px */
  margin-top: 110px;
  margin-left: 60px;
  max-width: 150px;
  }
  
  .textCardThreeP {
      position: absolute;
      color: #FFF;
  font-family: Raleway-Bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 32.006px */
  margin-top: 70px;
  margin-left:60px;
  }
  
  .textCardThreeH {
      position: absolute;
      color: rgba(255, 255, 255, 0.90);
      font-family: Raleway;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 123.1%; /* 20.927px */
  margin-top: 110px;
  margin-left: 60px;
  max-width: 180px;
  }
  
  .textCardFourP {
      position: absolute;
      color: #FFF;
  font-family: Raleway-Bold;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%; /* 32.006px */
  margin-top: 65px;
  margin-left: 60px;
  }
  
  .textCardFourH {
      position: absolute;
      color: rgba(255, 255, 255, 0.90);
      font-family: Raleway;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 123.1%; /* 20.927px */
  margin-top: 105px;
  margin-left: 60px;
  max-width: 200px;
  }

  .youtube{
      width: 100px;
      height: 100px;
  }
}

/* pricing */

.fullAnalyticalTextOne{
  margin-top: 50px;
  margin-left: -650px;
}

.fullAnalyticalTextTwo{
  margin-left: -650px;
}


.mainTextPrice{
  text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 60.83px */

background: linear-gradient(88deg, #B5FEEF 10.96%, #2EECC5 259.77%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
margin-bottom: 100px; /* Отступ снизу */   

}

.buttonPriceGroup{
  margin-top: -100px;
    /* justify-content: center;
    align-items: center; */
    margin-bottom: 40px; /* Отступ снизу */ 

}


.textLink{
  font-family: Raleway-Bold;
  font-size: 22px;
  text-align: center;
  color: #e90cd3;
  margin-top: 25px;
}

.cardOnePrice {


  margin-top: 40px;
  width: 295px;
  height: 411px;
  flex-shrink: 0;
  border-radius: 36px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
}
.cardTextMain{

  margin-top: 30px;

  color: white;
text-align: center;
font-family: Raleway-Bold;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;

}

.cardTex{
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: Raleway;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%; /* 26.146px */
  margin-top: 35px;
}
.cardTextMainPrice{
  margin-top: 30px;

  color: rgb(248, 17, 85);
text-align: center;
font-family: Raleway-Bold;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.cardTwoPrice {


 
  width: 370px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 36px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
}

.cardThreePrice{


  margin-top: 40px;
  width: 295px;
  height: 411px;
  flex-shrink: 0;
  border-radius: 36px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
}


.blockBtnOne{
  margin-top: 0px;


}
.blockBtnTwo{
  margin-top: 10px;
}


@media only screen and (max-width: 1024px) {
  .textLink{
   display: none;
  }
  .mainTextPrice{
    text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 55px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 60.83px */

background: linear-gradient(88deg, #B5FEEF 10.96%, #2EECC5 259.77%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
margin-top: -400px;
}

.buttonPriceGroup{
  margin-top: -400px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-bottom: 40px; /* Отступ снизу */ 

}

.cardOnePrice {

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  margin-top: 20px;
  width: 295px;
  height: 411px;
  flex-shrink: 0;
  border-radius: 36px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
}

.cardTwoPrice{
  margin-top: 450px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  width: 300px;
  height: 470px;
  flex-shrink: 0;
  border-radius: 36px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
}


.cardThreePrice{

  margin-left: -300px;
  margin-top: 950px;
  width: 295px;
  height: 411px;
  flex-shrink: 0;
  border-radius: 36px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: linear-gradient(169deg, #313134 9.31%, #292929 61.88%, #282828 111.76%);
}
.blockBtnTwo{
  margin-top: 15px;
}

.blockBtnOne{
  margin-top: -440px;
}

.fullAnalyticalTextOne{
  margin-top: 140px;
  margin-left: 0px;

}

.fullAnalyticalTextTwo{
  margin-left: 0px;
  margin-top: 70px;
}

}



/* footer */

.giveContactsFons{
  background: no-repeat;
  background-image: url('img/Rectangle68.png') ;
  background-size: contain;
  
}

.contactsImg{
  cursor: pointer;    
}

.contactsMainText{
  color: var(--mono-white, #FFF);
font-family: Raleway-Bold;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.92px;
text-align: center;
}

.giveContactsPoragraf{
  margin-left: 345px;
  margin-top: 25px;
  text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
font-family: Raleway-Bold;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 110.6%; /* 55.3px */

background: linear-gradient(91deg, #B5FEEF 10.31%, #2EECC5 165.09%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

margin-bottom: 25px;
}

.giveContactsTextGiveName{
  margin-left: 345px;
  margin-top: 21px;

  color: rgba(255, 255, 255, 0.70);
font-family: Raleway;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 153.8%; /* 26.146px */
}

input {
  padding-left: 10px;
  font-family: Raleway;
  color: #FFF;
  outline: none;
  width: 200px;
height: 50px;
flex-shrink: 0;
border-radius: 41px;
border: 1.5px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.10);
box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);
}


.giveContactsTextTwo{
  margin-left: 600px;
  margin-top: -87px;

  color: rgba(255, 255, 255, 0.70);
font-family: Raleway;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 153.8%; /* 26.146px */
}


.giveContactsTextThree{
  margin-left: 850px;
  margin-top: -87px;

  color: rgba(255, 255, 255, 0.70);
font-family: Raleway;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 153.8%; /* 26.146px */
}


.buttonSend{
  margin-left: 345px;
  margin-top: 15px;

  width: 200px;
height: 52px;
flex-shrink: 0;
border-radius: 41px;
border: 1.5px solid #2EECC5;
background: rgba(46, 236, 197, 0.10);
box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);

color: #FFF;
font-family: Raleway;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 153.8%; /* 26.146px */

}

.inputForm {
  margin-left: 335px;
  width: 437px;

}

@media only screen and (max-width: 1024px) {
  /* стили для планшетов и телефонов */


  .giveContactsPoragraf{
      margin-left: 51px;
      margin-top: -130px;
      text-shadow: 0px 0px 36px rgba(165, 252, 235, 0.20);
  font-family: Raleway-Bold;
  font-size: 37px;
  font-style: normal;
  font-weight: 400;
  line-height: 110.6%; /* 55.3px */
  
  background: linear-gradient(91deg, #B5FEEF 10.31%, #2EECC5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .inputForm{
      margin-left: 15px;
      width: 328px;
  }

.buttonSend{
  margin-left: 95px;
  margin-top: 20px;

  width: 200px;
height: 52px;
flex-shrink: 0;
border-radius: 41px;
border: 1.5px solid #2EECC5;
background: rgba(46, 236, 197, 0.10);
box-shadow: 0px 0px 38px 0px rgba(255, 255, 255, 0.05);

color: #FFF;
font-family: Raleway;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 153.8%; /* 26.146px */
}
  
  .contactsMainText{
      display: none
  }
  .contactsImg{
      margin-top: -950px;
      width: 60px;
  }

  .giveContactsFons{
      background: no-repeat;
      background-size: contain;
      margin-top: -310px;
      
  }


}



@font-face {
  font-family: Raleway-Bold;
    src: url(fons/Raleway-Bold.woff2);
}
@font-face {
  font-family: Raleway;
    src: url(fons/Raleway-Light.woff2);
}